* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    opacity: 0;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #181818;
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ff4f81,#f0f);
    clip-path: circle(20% at right 80%);
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ff4f81,#f0f);
    clip-path: circle(30% at left 20%);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 750px;
    z-index: 1;
}

.card {
    position: relative;
    width: 90%;
    padding: 20px;
    margin: 50px 0px;
    background: rgba(0, 0, 0, .8);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .8); 
    color: white;
    border-radius: 5px;
}

.card-header {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 3px solid #ff4f81;
}

.card-header i {
    margin-left: auto;
    cursor: pointer;
}

.card-body {
    padding: 10px 0px;
    height: 500px;
    overflow-y: scroll;
}

.todo-list {
    list-style: none;
}

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.todo-item li {
    flex-grow: 1;
    font-size: 14px;
    cursor: default;
}

.todo-list i {
    font-size: 17px;
    margin: 0px 5px;
    cursor: pointer;
}

.card-footer {
    padding: 20px 0px;
    display: flex;
}

.card-footer input {
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    padding: 5px 10px;
    border: 0;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px 0px 0px 5px;
}

.card-footer input:focus, .card-footer button:focus {
    outline: 0;   
}

.card-footer button {
    background-color: #ff4f81;
    color: #fff;
    font-size: 18px;
    border: 0;
    width: 60px;
    border-radius: 0px 5px 5px 0px;
}

.card-footer button:hover {
    background-color: #ff6793;
}

.todo {
    display: flex;
}

.done {
    background-color: rgba(0, 0, 0, .5);
}

.timeDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timeDiv h1 {
    margin: 5px;
    color: #fff;
    font-size: 2rem;
}

.timeDiv span {
    color: #fff;
}

.timeInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeInput input {
    outline: 0;
    background-color: transparent;
    color: #fff;
    margin: 5px;
    font-size: 1rem;
    border: 1px solid #242424;
    padding: 5px;
    border-radius: 2px;
    transition: all .2s;
}

.timeInput input:hover {
    border-color: #383838;
    background-color: #383838;
}

.timeInput ::-webkit-calendar-picker-indicator {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 18px;
}

.timeInput button {
    border: 2px solid #242424;
    background-color: transparent;
    color: #fff;
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
    transition: all .2s;
    border-radius: 8px;
}

.timeInput button:hover {
    background-color: #383838;
    border-color: #383838;
    transition: all .2s;
}

@media screen and (max-device-width: 1395px) {

    .container {
        position: relative;
        display: flex;
        justify-content: center;
        height: 660px;
        z-index: 1;
    }

    .card-footer {
        padding: 10px 0px;
        display: flex;
    }

    .card-body {
        padding: 10px 0px;
        height: 410px;
        overflow-y: scroll;
    }
}